

body {
    
	background-color: whitesmoke;
     
}



.m1 {
    
	color: green;
     
}



.m2 {
    
	color: blue;
    
	font-size: x-large;

     }


#m3 {
    
     	border: 1px solid black;
     
}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}